# Database
DATABASE_URL="postgresql://myuser:mypassword@localhost:5432/invoicedb?schema=public"
PORT=3000
DB_ENCRYPTION_KEY=YOUR_ENCRYPTION_KEY

# Auth
BETTER_AUTH_SECRET=YOUR_ENCRYPTION_KEY
BETTER_AUTH_URL=http://localhost:3000

# Mailjet
MAILJET_API_KEY=YOUR_ENCRYPTION_KEY
MAILJET_API_SECRET=YOUR_ENCRYPTION_KEY
EMAIL_FROM=YOUR_EMAIL

# App
APP_URL=http://localhost:3000