# Database
DATABASE_URL="postgresql://myuser:mypassword@localhost:5432/invoicedb?schema=public"
PORT=3000
DB_ENCRYPTION_KEY=YOUR_DB_ENCRYPTION_KEY

# Auth
BETTER_AUTH_SECRET=YOUR_BETTER_AUTH_SECRET_KEY
BETTER_AUTH_URL=http://localhost:3000

# Mailjet
MAILJET_API_KEY=YOUR_MAILJET_API_KEY
MAILJET_API_SECRET=YOUR_MAILJET_SECRET_KEY
EMAIL_FROM=YOUR_EMAIL

# Ably
ABLY_API_KEY=YOUR_ABLY_TOKEN

# App
APP_URL=http://localhost:3000